:root {
  --color-primary: #31353b;
  --color-primary-light: #efefef;
  --color-accent: #427053;
  --color-accent-light: #73bc8e;
  --font-primary: "Raleway", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  font-weight: 900;
}

h2 {
  font-family: var(--font-primary);
  font-weight: 500;
}

a {
  font-family: var(--font-primary);
  font-weight: 100;
}

dd {
  font-family: var(--font-primary);
  font-weight: 900;
}

q {
  font-family: var(--font-primary);
  font-weight: 100;
  font-style: italic;
}
