:root {
  --color-primary: #6b6a69;
  --color-primary-light: #fff1ee;
  --color-secondary: #b8b3b2;
  --color-accent: #186b51;
  --font-primary: 'Raleway', sans-serif;
}

html {
  font-family: var(--font-primary);
}
